<header class="navbar navbar-expand-lg navbar-dark bg-dark row">
    <div class="col-6 bg-primary rounded border border-warning">
        <a [routerLink] = "['../']" class="navbar-brand">Store</a>
    </div>
    
</header>


<div class="m-3">
    <div class="card border-primary">
        <div class="card-header text-center ">
            <div class="my-cart"><b>MyCart</b></div>
        </div>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Qty</th>
                    <th>Product</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let item of cart.items">
                    <td>{{item.quantity}}</td>
                    <td>{{item.product.name}} <span class="text-muted">${{item.product.price}}/each</span></td>
                    <td class="text-right">${{item.totalPrice}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colSpan="4" class="text-right">
                        <b>Total: {{cart.total | currency}}</b>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <br/>

    <div style = "float: left">
            <a [routerLink]="['../products/', 'list']" class="btn btn-warning btn-lg">Keep Shopping!</a>
        </div>
    </div>
    
