<header class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a [routerLink] = "['../']" class="navbar-brand">Store</a>
        <div class="mr-auto"></div>
</header>

<div>
    <nav>
        <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">
            Tasty Snacks
            </a>
        </li>
        <li class="breadcrumb-item active">
            {{product?.name}}
            
        </li>
        </ol>
    </nav>
    <div class="container p-5 bg-light">
        <div class="d-flex">
        <div class="mr-4">
            <img class="product-image" src="http://johnlawrimore.com/smu/{{product?.imageName}}" />
        </div>
        <div>
            <h1 class="font-weight-light">{{product?.name}}</h1>
            <span class="badge badge-primary badge-lg">
            ${{product?.price}}
            </span>
            <p class="text-muted mt-4">
            {{product?.description}}
            </p>
        </div>
        </div>
        <a (click) = "addItemToCart()"  [routerLink]="['../', 'cart']"
            class="btn btn-block btn-warning">
            Add to Cart
        </a>
    </div>

    <store-review-list [reviewListProduct] = "product"></store-review-list>


    <store-review-form (submitReview) = addNewReview($event)></store-review-form>


</div>
