<div class="card">
        <div class="card-header bg-secondary text-white">Add Review</div>
        <div class="card-body">
          <form #reviewForm = "ngForm">
          <div style= "float: right">
              <span class="stars" *ngFor = "let num of [1,2,3,4,5]">
                  <ng-container *ngTemplateOutlet = "rating >= num ? fullstar : emptystar"></ng-container>
                  <ng-template #fullstar>
                          <i class= "full-star"></i>
                  </ng-template>
                  <ng-template #emptystar>
                          <i class= "empty-star"></i>
                  </ng-template>
              </span>
            </div>
            <div class="d-flex">
              <div class="form-group user-name-container">
                <label for="userName" >Your Name</label>

                
                <input  [(ngModel)] = "userName" type="text"
                  name="userName"
                  id="userName" required #eUserName="ngModel" class= "form-control" />

                  <div *ngIf = "eUserName.invalid">
                    <div *ngIf = "eUserName.errors.required">
                        <div class="red-text">*Required field.</div>
                    </div>
                  </div>
                </div>
              <div class="form-group ml-4">
                <label for="rating">Rating</label>
                <div class="d-flex">
                  <select
                    class="form-control ratings-container"
                    name="rating" [(ngModel)] = "rating" #eRating="ngModel" required>
                    <option value="0">0 stars</option>
                    <option value="1">1 star</option>
                    <option value="2">2 stars</option>
                    <option value="3">3 stars</option>
                    <option value="4">4 stars</option>
                    <option value="5">5 stars</option>
                  </select>
                  
                </div>
                <div *ngIf = "eRating.invalid">
                  <div *ngIf = "eRating.errors.required">
                    <div class="red-text">*Required field.</div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="form-group">
              <label for="review">Comment</label>
              <textarea [(ngModel)] = "comment" 
                class="form-control"
                name="review"
                id="review"
                cols="30"
                rows="5">
              </textarea>
            </div>
          </form>
          <button
            class="btn btn-primary" (click)= "submit()" [disabled] = "reviewForm.invalid">
            Submit
          </button>
          <div *ngIf = "reviewForm.invalid">
            <div class="red-text">*Please complete required fields before submitting review.</div>
          </div>
          
        </div>
      </div>
